<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda - Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" media="all" th:href="@{style.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{app-style.css}" />
    <link rel="stylesheet" th:href="@{jquery/jquery.mobile-1.4.5.min.css}" />

    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:src="@{jquery/jquery.mobile-1.4.5.min.js}"></script>
</head>
<body>
<h3>Agenda des PFCCA</h3>

<form th:action="@{/agenda}" th:object="${agendadate}">
    <label>Date : </label><input type="date" th:field="*{dateTime}" th:value="*{dateTime}"/>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>